@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>Welcome To One Stop Shop For Medical Tourism</h1>
        <p class="lead"></p>
        <p><a href="https://timesofindia.indiatimes.com/city/bengaluru/this-portal-is-a-one-stop-shop-for-foreign-patients-seeking-a-cure-in-india/articleshow/56008174.cms" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <img src="~/Photo/hospital1.gif" alt="hospital" width="700" height="500">
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p></p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p></p>
            <p ><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>







